* {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	width: 70%;
	margin: auto;
	padding-top: 50px;
}
span {
	visibility: hidden;
}

.green {
	background-color: #9df43f;
}
@keyframes click {
  0%, 100% { opacity: 0.4; }
  50% { 
  	opacity: 1;
  	box-shadow: 0 0 20px;
   }
}
.animate {
	animation: click 1.5s;
}
#outerLayer {
	position: relative;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	padding: 10px;
	background-color: #074358;
	top: 25%;
	left: 25%;
}
#settings {
	position: absolute;
	background-color: #458985;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 10px solid #074358;
	top: 50%;
   	left: 50%;
   	margin: -135px 0px 0px -135px;
   	z-index: 1;
}
#settings div {
	text-align: center;
	margin-top: 30px;
}
#game_name h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
}
#set_btn {
	display: flex;
	justify-content: space-around;
}
button {
	padding: 7px;
	background-color: #cc3f10;
	font-family: georgia;
	font-weight: bold;
	cursor: pointer;
}
#steps_screen div {
	width: 80px;
	height: 30px;
	margin: auto;
	background-color: #093f21;
}
#steps_screen>p {
	font-family: cursive;
	font-weight: bold;
}
#steps_screen div p {
	color: white;
	font-family: 'Orbitron', sans-serif;
}
.btn {
	position: absolute;
	height: 250px;
    width: 250px;
    cursor: pointer;
    opacity: 0.4;
	    
}
#btn1 {
	border-top-left-radius: 100%;
	left: 0px;
	top: 0px;
	background-color: #0e8e00;
}
#btn2 {
	border-bottom-left-radius: 100%;
	left: 0px;
	bottom: 0px;
	background-color: #614bed;
}
#btn3 {
	border-bottom-right-radius: 100%;
	right: 0px;
	bottom: 0px;
	background-color: #e21b09;
}
#btn4 {
	border-top-right-radius: 100%;
	right: 0px;
	top: 0px;
	background-color: #ffce30;
}
